{% extends "base_layout.html" %}
{% block body %}
<div class="row">
    <div class="col-xs-12 ">
        <div class="box box-primary">
            <section class="content content-wrapper">
              <!-- row -->
              <div class="row">
                <div class="col-md-12 ">
                  <!-- The time line -->
                  <ul class="timeline">
                      {% for deploy_reply in deploy_replys %}
                        <li class="time-label">
                          <span class="bg-yellow">
                            {{ deploy_reply.time[0:10] }}
                          </span>
                        </li>
                        <li>
                            {% if deploy_reply.system_role == 1 %}
                              <i class="fa fa-user bg-black"></i>
                            {% elif deploy_reply.system_role == 2 %}
                              <i class="fa fa-desktop bg-orange"></i>
                            {% elif deploy_reply.system_role == 3 %}
                              <i class="fa fa-code bg-green"></i>
                            {% elif deploy_reply.system_role == 4 %}
                              <i class="fa fa-envelope bg-red"></i>
                            {% elif deploy_reply.system_role == 5 %}
                              <i class="fa fa-newspaper-o bg-blue"></i>
                            {% elif deploy_reply.system_role == 5 %}
                              <i class="fa fa-camera bg-purple"></i>
                            {% else %}
                              <i class="fa fa-camera bg-purple"></i>
                            {% endif %}
                          <div class="timeline-item">
                            <span class="time"><i class="fa fa-clock-o"></i> {{ deploy_reply.time[11:] }}</span>
                            <h3 class="timeline-header">
                                {% if deploy_reply.system_role == 2%}
                                    {% if deploy_reply.reply == 0 %}
                                      测试{{ deploy_reply.username }}进行了模块构建
                                    {% else %}
                                      测试{{ deploy_reply.username }}进行了模块部署
                                    {% endif %}
                                {% elif deploy_reply.system_role == 6%}
                                    {% if deploy_reply.reply == 0 %}
                                      产品{{ deploy_reply.username }}通过了部署请求
                                    {% else %}
                                      产品{{ deploy_reply.username }}拒绝了部署请求
                                    {% endif %}
                                {% elif deploy_reply.system_role == 5%}
                                    {% if deploy_reply.reply == 0 %}
                                      运营{{ deploy_reply.username }}通过了部署请求
                                    {% else %}
                                      运营{{ deploy_reply.username }}拒绝了部署请求
                                    {% endif %}
                                {% elif deploy_reply.system_role == 3%}
                                    {% if deploy_reply.reply == 0 %}
                                      开发{{ deploy_reply.username }}通过了部署请求
                                    {% else %}
                                      开发{{ deploy_reply.username }}拒绝了部署请求
                                    {% endif %}
                                {% elif deploy_reply.system_role == 4%}
                                    开发{{ deploy_reply.username }}提交了部署
                                {% endif %}
                            </h3>
                            <div class="timeline-body">
                              {{ deploy_reply.comment }}
                            </div>
                          </div>
                        </li>
                      {% endfor %}
                      </ul>
                    </div><!-- /.col -->
              </div><!-- /.row -->
            </section>
        </div>
    </div>
</div>
{% endblock %}